.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;

  background-color: var(--card-bg);
  color: var(--text);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;
  margin: 0;
  border: 0;
  box-sizing: border-box;

  box-shadow: var(--shadow);
}

.podcastLogoAndTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.podcastAppLogo {
  width: 42px;
  height: 42px;
}

.podcastTitle {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--text);
}

.profileIcon {
  width: 42px;
  height: 42px;
  cursor: pointer;
}
